{% extends "account/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
{% csrf_token %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, </h1>

     <div class="row my-3 p-3" >

        <img class="rounded-circle mt-5" src="{{ user.profile.avatar.url }} "  alt="No Image" style="cursor: pointer;"/>
    </div>
        <p class="lead">
           {{user.username|default:'Guest'}}         </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'users-profile' %}" role="button">Edit Profile</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>



{% endblock content %}

